image: mcr.microsoft.com/playwright:v1.57.0-jammy

services:
  - name: docker:24.0-dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  BASE_URL: "http://docker:3000"
  API_BASE_URL: "http://docker:8080"
  echo "-----setting variables----"

stages:
  - test
   echo "-------------------In test stage--------------------"

playwright-tests:
  stage: test

  before_script:
    # Install Docker CLI + docker-compose (v1)
    - apt-get update
    - apt-get install -y docker.io docker-compose curl

    # Install Node dependencies
    - npm ci

  script:
    # Sanity checks
    - docker version
    - docker-compose version

    # Start application stack
    - docker-compose up -d

    # Wait for API to be healthy (prevents flaky failures)
    - |
      for i in {1..60}; do
        if curl -sf http://docker:8080/health > /dev/null; then
          echo "API is healthy"
          break
        fi
        echo "Waiting for API..."
        sleep 2
      done

    # Run Playwright tests
    - npx playwright test --reporter=html

  after_script:
    # Ensure artifacts always exist ((does NOT affect job result))
    - mkdir -p playwright-report
    - |
      if [ ! -f playwright-report/index.html ]; then
        echo "Playwright report not generated (tests failed before report creation)." > playwright-report/README.txt
      fi

    # Logs + cleanup
    - docker-compose logs --no-color || true
    - docker-compose down || true

  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 7 days
